<div class="container pt-5">
    <div class="row">
            <table class="col mx-auto text-center border">
            <thead>
                <tr>
                <th class=" border">ID</th>
                <th class=" border">Name</th>
                <th class=" border">Function</th>
                <th class=" border">Boss ID </th>
                </tr>
            </thead>

            <tbody>
                <tr class="border" *ngFor="let employee of employeeList">
                <td class="border" >{{employee.id}}</td>
                <td class="border">{{employee.fullname}}</td>
                <td class="border">{{employee.function}}</td>
                <td class="border">{{employee.boss}}</td>
                </tr>
            </tbody>
            </table>
    </div>
</div>